<% if @user.facebook_authd?(@user) %>
	<% facebook_client = FacebookOAuth::Client.new(
      :application_id => '129898603745111',
      :application_secret => 'f4a68ca5d87865292897f00b69e8f299',
      :token => @user.facebook_access
  )%>

<h2 class="notop">Facebook Profile</h2>
<h3><%= facebook_client.me.info['name'] %></h3>
<% if facebook_client.me.info["location"] %>
	<%= facebook_client.me.info["location"]['name'] %>
<% end %>
<a target="_blank" href="<%= facebook_client.me.info['link'] %>">View Profile</a><br />
<% feed = facebook_client.me.home %>
<% news = feed["data"]%>

<h3>Status Update</h3>
<form id="facebook" action="/facebook_post">
	<textarea name="facebook_post" class="facebook_post"></textarea>
	<input type="submit" class="post" value="Post">
</form>
<h3>Your News Feed</h3>
<ul class="facebook">
<% news.each do | status |%>
	<li><img src="<%= status["icon"] %>" /><b><%= status["from"]["name"] %></b><br />
		<%= status["message"] %>
			<% if status["link"] %>
				<a href="<%= status["link"] %>">link</a>
			<% end %>
		<% if status["picture"] %>
			<img src="<%= status["picture"] %>" />
			<%= status["caption"] %>
			<%= status["description"] %>
		<% end %>
		<% if status["actions"]%>
			<% actions = status["actions"] %>
			<% actions.each do |action|%>
				<a href="<%= action.link %>"><%= action.name %></a>
			<% end %>
		<% end %>
		</li>
<% end %>
</ul>

<% else %>
	<img src="/images/facebook.jpg" />
	<h2>Register Your account on Facebook!</h2>
	<a href="/facebook_register" class="register">Register on Facebook</a>
<% end %>