<% if @user.facebook_authd?(@user) %>
	<% facebook = User.facebook(@user) %>

<h2 class="notop">Facebook Profile</h2>
<img class="twitter" src="<%= facebook.selection.me.picture %>" />
<h3><%= facebook.selection.me.info!['name'] %></h3>
<% if facebook.selection.me.info!["location"] %>
	<%= facebook.selection.me.info!["location"]['name'] %><br />
<% end %>

Friends: <%= facebook.selection.me.friends.info!["data"].count %><br />
<a target="_blank" href="<%= facebook.selection.me.info!['link'] %>">View Profile</a><br />
<% feed = facebook.selection.me.home.info! %>
<% news = feed["data"]%>

<h3>Status Update</h3>
<form id="facebook" action="/facebook_post">
	<textarea name="facebook_post" class="facebook_post"></textarea>
	<input type="submit" class="post" value="Post">
</form>
<h3>Your News Feed</h3>
<ul class="facebook">
<% news.each do | status |%>
	<li class="clearfix"><b><%= status["from"]["name"] %></b><br />
		<p><%= status["message"] %>
			<% if status["link"] %>
				<a href="<%= status["link"] %>">link</a>
			<% end %></p>
		<% if status["picture"] %>
			<img class="facebook_pic" src="<%= status["picture"] %>" />
			<%= status["caption"] %>
			<%= status["description"] %>
		<% end %>
		<% if status["actions"]%>
			<% actions = status["actions"] %>
			<% actions.each do |action|%>
				<a href="<%= action.link %>"><%= action.name %></a>
			<% end %>
		<% end %>
		</li>
<% end %>
</ul>

<% else %>
	<img src="/images/facebook.jpg" />
	<h2>Register Your account on Facebook!</h2>
	<a href="/facebook_register" class="register">Register on Facebook</a>
<% end %>