
<div class="col1">
	
	<% if session[:user] %>
		<%= render :partial => "/shared/twitter" %>
	<% else %>
		<%= render :partial => "/shared/login" %>
	<% end %>
</div>
<div class="col2">
	<% if session[:user] %>
		<%= render :partial => "/shared/facebook" %>
	<% else %>
		<%= render :partial => "/shared/news" %>
	<% end %>
</div>

<div class="col3">
	<% if session[:user] %>
		<%= render :partial => "/shared/linkedin" %>
	<% else %>
		<%= render :partial => "/shared/images" %>
	<% end %>
</div>