<h1>Welcome</h1>
<p>Login:</p>
<form id="login" method="post" action="/users/authenticate">
	<label for="username">Username:</label>
	<input name="username" type="text" /><br />
	<label for="password">Password:</label>
	<input name="password" type="password" />
	<input type="submit" />
</form>

<% if session[:user] %>
 Hello	<%= session[:user].name %>!<br />

<% if @user.twitter_authd?(@user) %>
<h3>Your Twitter</h3>
	<% client = Tweet.client(@user) %>
	<%= client.info["name"] %><br />
	<img src="<%= client.info["profile_image_url"] %>" /><br /><br />
<%= Twitter.user_timeline(client.info["screen_name"]).first.text %><br />
<%= Twitter.user_timeline(client.info["screen_name"]).second.text %><br />
<%= Twitter.user_timeline(client.info["screen_name"]).third.text %><br />

<form id="twitter" action="/twitter_post">
	<textarea name="twitter_post" maxlength="140"></textarea>
	<input type="submit" value="Post">
</form>

<% else %>
	<p>Register Your account on Twitter!</p>
	<form id="twitter" action="/register">
		<input type="submit" value="Register">
	</form>
<% end %>

<% if @user.linkedin_authd?(@user) %>
	<% linkedin_client = LinkedIn::Client.new('wOR3wSa1SAucusiKkqC3eWVssnYUmBVs08sIETQXaMZVMIxllhTrt3SZGS9Q388P', 'uwDYLi9ELvDdptSmHIDzfDD7HOHEXm0HDK2lcn4QUIzCh3gcs5nZHpS6EFU97i47') %>
  <% linkedin_client.authorize_from_access(@user.linkedin_token, @user.linkedin_secret)%>
  
  <h3>Linked In Profile</h3>
	<%= linkedin_client.profile.first_name %> <%= linkedin_client.profile.last_name %><br />
	<%= linkedin_client.profile.headline %><br />
	<%= linkedin_client.profile.industry %><br />
	
	<%= linkedin_client.profile.summary %><br />
	Connections: <%= linkedin_client.connections.count %>

<% else %>
	<p>Register Your account on LinkedIn!</p>
	<form id="twitter" action="/linkedin_register">
		<input type="submit" value="Register">
	</form>
<% end %>

<% if @user.facebook_authd?(@user) %>
	<% facebook_client = FacebookOAuth::Client.new(
      :application_id => '129898603745111',
      :application_secret => 'f4a68ca5d87865292897f00b69e8f299',
      :token => @user.facebook_access
  )%>

<h3>Facebook Profile</h3>
<%= facebook_client.me.info['name'] %><br />
<%= facebook_client.me.info['link'] %><br />

<%= facebook_client.me.info['about'] %><br />

<% else %>
	<p>Register Your account on Facebook!</p>
	<form id="twitter" action="/facebook_register">
		<input type="submit" value="Register">
	</form>
<% end %>

<% end %>